<launch>
  <group ns="raspimouse">
    <node pkg="raspimouse_ros" name="lightsensors" type="rtlightsensors.py" required="true" />
    <node pkg="raspimouse_ros" name="motor" type="rtmotor.py" required="true" />
  </group>
  <group ns="lefthand">
    <node pkg="raspimouse_primitive_actions" name="wall_stay_front" type="wall_stay_front.py" required="true" />
  </group>
</launch>
